<form id="addCommentForm" class="form-horizontal">
    <br>
    <div class="row">
        <div class="col-lg-11">
            <input id="commentInput" class ="form-control" autocomplete="off">
        </div>
        <div class="col-md-1">
            <button id="addCommentButton" style="width: 104%" type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>

