<form id="addCommentForm" class="form-horizontal">
    <br>
    <div class="row">
        <div class="col-lg-11">
            <input class = "form-control" autocomplete="off">
        </div>
        <div class="col-md-1">
            <input id="addCommentButton" style="width: 104%" type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
</form>

